.ota1 {

}
.ona1{
    width: 1900px;
    height: 140px;
    background-color: white;
   
}
.ton>img {
    width: 154px;
    height: 31px;
    margin-left: 400px;
    margin-top: 20px;
}
.ton {
    width: 1233px;
    height: 70px;
    
    display: flex;
}
.lupa button  {
    width: 30px;
height: 30px;
margin-right: 10px;
margin-bottom: 50px;


}
.lupa  input {
    width: 300px;
    height: 40px;
    display: flex;
  
    border-radius: 20px 0px 0px 20px;
    margin-top:     px;

}
.lupa  {
    width: 60px;
    height: 40px;
    display: flex;
    border-radius: 10px 40px 40px 10px;
    margin-left: 100px;
   margin-top: 10px;

}
.lupa p {
    padding-left: 20px;
    padding-bottom: 30px;
    text-align: center  ;
    width: px;
    height: px;
}
.as {
    display: flex;
    gap: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: 400px;
}
.bo a {
    width: 180px;
    height: 40px;
    padding-left: 10px;
    border-right: 1px solid black;
    padding-right: 15px;
    color: black;
    text-decoration: none;
}
   

 .ma {
    width: 144px;
    height: 40px;
    border-right: 1px solid black;
    padding-left: 5px;
}
.lupa button {
    width: 60px;
    height: 45px;
    border-radius: 10px 40px 40px 10px;
    border: 1px solid black;
}
.bo1 a {
    width: 180px;
    height: 40px;
    padding-left: 10px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
}
.logo {
    width: 866px;
    height: 50px;
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.r2 {
    /* margin-left: 20px; */
    margin-top: 70px;
}
.r1 img {
    width: 20px;
    height: 21px;
    margin-top: 5px;
    background-color: greenyellow;
}
.ii {
   margin-top: 50px;
}
.akb {
    margin-right: 1200px;
}
