
 .yol img{
   
   
}
.yol {
    animation-name: moshin;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    
}
@keyframes moshin{
    0%{
        transform: translate(1px);
    }
    50%{transform: translate(600px);}
    60%{transform: translate(650px);}
    90%{transform: translate(1700px);}
    100%{transform: translate(1700px);}
}
.asad{
    
}




